@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

html{
  box-sizing: border-box;
}
body{
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
  color: black;
  font-family: tangerine;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.quote-text{
  font-size: 2rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author{
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  

}